<div class='cont'>
  <%= link_to 'Main Page', posts_path %>
  <% if current_autor.first_name.nil?%>
  current_autor.first_name = 
  <%end%>
  <%= form_with model: @autor, url: save_profile_autors_path do |form| %>
    <div class="field">
      <%= form.label :avatar%>
      <%= form.text_field :avatar, class: 'form-control', rows: "3"%>
      <i>put a link to your avatar here</i>
    </div>
    <div class="field">
      <%= form.label :first_name%>
      <%= form.text_field :first_name, class: 'form-control', rows: "3"%>
    </div>     
    <div class="field">
      <%= form.label :last_name%>
      <%= form.text_field :last_name, class: 'form-control', rows: "3"%>
    </div>
    <div class="actions " >
      <%= form.submit 'Update profile', class: "pressed-button"%>
    </div>
  <% end %>
</div>