<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="invisible">
   <%= form.label :name %>
    <%= form.text_field :name, value: current_autor.full_name, readonly: true %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field" style="text-align: center">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

    <div class="field" style="text-align: center">
    <%= form.label :image %>
    <%= form.text_field :main_image %>
  </div>

   <div class="field" style="text-align: center">
    <%= form.label :image %>
    <%= form.text_field :second_image %>
  </div>

  <fieldset>
  <%= form.label :img, 'img' %>
  <%= form.hidden_field :img_cache %>
  <%= form.file_field :img%>
</fieldset>

  <div class="actions" style="text-align: center">
    <%= form.submit %>
  </div>






<% end %>